#panesScrapbin {height:575px;margin:15px 0 15px 0;position:relative;width:900px}

.panesScrapbin {display:none;position:absolute;width:900px}

.infoContentScrapbin {width:700px}

.infoScrapbin p {font-size:14px;margin:0;padding:0}

.infoScrapbin {width:180px}

.infoDetail {margin:2px 0 0 0}





